<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Feed</title>
    <link th:replace="fragments/bootstrap"></link>
</head>
<body>
    <div class="container">
    	<div th:replace="fragments/navbar"></div>
    	<ul class="nav nav-tabs">
		    <li role="presentation" th:classappend="${filter == 'all' ? 'active' : '' }">
		        <a href="/tweets">All</a></li>
		    <li role="presentation" th:classappend="${filter == 'following' ? 'active' : '' }">
		        <a href="/tweets?filter=following">Following</a></li>
		</ul><br/>
    	<div th:if="${not #lists.isEmpty(tweetList)}">
	        <h2>Tweets</h2>
	        <div th:each="tweet:${tweetList}">
	            <h5>@<a th:href="@{/users/} + ${tweet.user.username}" th:text="${tweet.user.username}"></a>
	            <small th:text="${tweet.date}"></small></h5>
	            <p th:utext="${tweet.message}"></p>
	    	</div>
    	</div>
		<div th:if="${#lists.isEmpty(tweetList) and filter == 'all'}">
		    <h3>No tweets have been created yet</h3>
		</div>
		<div th:if="${#lists.isEmpty(tweetList) and filter == 'following'}">
		    <h3>No tweets have been created by users you are following</h3>
		</div>
		<img alt="Mockingbird Logo" height="400px" width="400px" src="https://files.slack.com/files-pri/THJAYP1GB-FKKBJSASG/mockingbirdlogo-01.png">
    </div>
</body>
</html>